/*默认*/
@media (min-width: 980px)
{
body{
    margin:0;
    overflow-x: hidden; 
    margin-left:auto;
}
.posotion{
    position: relative;

}
.top{
    background-color:#171717;
    width:1640px;
    height:105px;
}

.logo{
    background-image: url(index/logo.svg);
    position: relative;
    top:20px;
    left:359px;
    width:280px;
    height:27px;

}
.lang{
    position: relative;
    top:-1px;
    left:1005px;
    width:101.344px;
    height:27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#55bcff;
    padding:0px 5px 0px 5px;
    font-size:14px;
}
.bottom{
    border:0.5px solid rgba(160, 158, 158, 0.452);
    width:23px;
    height:20px;
    position: relative;
    top:-31px;
    left:1095px;
    color:#55bcff;
    font-size:16px;
    display:inline-block;
}
.line{
    border-right:1px solid rgba(160, 158, 158, 0.452);
    width:1px;
    height:28px;
    position: relative;
    left:1128px;
    top:-56px;
}
.search{
    width:122px;
    height:17px;
    outline: none;
    border: 1px solid rgba(160, 158, 158, 0.452);
    display:inline-block;
    position: relative;
    left:1142px;
    top:-86px;
    background-color: #171717;
    color:#ffffff;
}
.btn{
    position: relative;
    top:-80px;
    left:1120px;
    display:inline-block;
    width:25px;
    height:21px;
    background-color: #171717;
    border: 1px solid  rgba(160, 158, 158, 0.452);
    border-left-style: none;
}
.home{
    width:52px;
    height:48px;
    background-image: url(index/房子.jpg);
    background-repeat: no-repeat;
    position: relative;
    top:-71px;
    left:359px;
}
.list ul li{
    display:inline-block;
    padding:0px 25px 0px 25px;
    color:#ffffff;
    position: relative;
    top:-125px;
    left:388px;
    font-size:14px;
}
.list:hover .duihuakuang{
    display:block;
}
.list ul li a:hover{
    color:blue;
}
.list ul li a{
    color:#ffffff;
}
.video{
    background-image:url(index/XINXILAN.jpg);
    background-size: 70%;
    width:2343px;
    height:600px;
    background-repeat: no-repeat;
    text-decoration: none;
}
.morning{
    width:448px;
    height:176px;
    background-color: rgba(23, 23,23, 0.89);
    position: relative;
    top:-590px;
    left:80px;
    color:#ffffff;
    font-size:200%;
    padding:5px;
    padding-left:10px;
    display:inline-block;
    font-family: "Pakati",helvetica,arial,verdana,tahoma,sans-serif;
}
.as{
    margin:0px;
    padding:9px;
    padding-left:10px;
    padding-bottom: 10px;
    position: relative;
    top: -530px;
    left:-380px;
    color:#ffffff;
    font-size:15px;
    display:inline-block;
}
.view{
    display:inline-block;
    position: relative;
    top:-470px;
    left:-690px;
    height:36px;
    width:122px;
    background-color:#2db6e8;
    color:#ffffff;
    border:none;

}
.view:hover{
    display:inline-block;
    position: relative;
    top:-470px;
    left:-690px;
    height:36px;
    width:122px;
    background-color:#2db6e8;
    color:#ffffff;
    border:none;
    animation: hyx 1s linear forwards;
}

@keyframes lyj{
    from{background-color: #2db6e8;}
    to{background-color:blue;}
}
a{
    text-decoration: none;
}
.play{
    width:116px;
    height:116px;
    background-image: url(index/playbutton.png);
    background-color:rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat;
    background-position: 34px;
    background-size: 42%;
    position: relative;
    top:-575px;
    left:750px;
    background-clip: content-box;
}
.play:hover{
    width:116px;
    height:116px;
    background-image: url(index/playbutton.png);
    background-color:rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat;
    background-position: 34px;
    background-size: 42%;
    position: relative;
    top:-575px;
    left:750px;
    background-clip: content-box;
    animation: playbutton 1.5s linear forwards;
}
@keyframes playbutton{
    from{background-color: rgba(23, 23,23, 0.89);
         display: none}
    to{background-color: rgb(23, 23,23);
       display: inline-block;}
}
.start{
    width:285px;
    height:60px;
    color: #2d2d2d;
    font-size:32px;
    font-family: "National",helvetica,arial,verdana,tahoma,sans-serif;
    margin-bottom:9px;
    line-height: 28px;
    position:relative;
    top:-330px;
    left:670px;
}
.see a:hover{
    color: #0093de;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration:underline;
    text-align: center;
}
.allthings{
    position: relative;
    top:-335px;
    left:563px;
    font-size: large;
}
.line-2{
    border-right:1px solid rgba(107, 102, 102, 0.966);
    width:1px;
    height:15px;
    position: relative;
    top:-353px;
    left:737px;
}
.densitnations{
    position: relative;
    top:-374px;
    left:750px;
    font-size: large;
}
.line-3{
    border-right:1px solid rgba(107, 102, 102, 0.966);
    width:1px;
    height:15px;
    position: relative;
    top:-392px;
    left:905px;
}
.trips{
    position: relative;
    top:-413px;
    left:918px;
    font-size: large;
}
.start-1{
    background-image: url(donghua/start-1.jpg);
    width:320px;
    height:320px;
    position: relative;
    top:-350px;
    left:170px;
    background-size:90%;
    margin-right:20px;
    margin-bottom:15px;
    background-repeat: no-repeat;
}
.start-2{
    background-image: url(donghua/start-2.png);
    width:320px;
    height:320px;
    position: relative;
    top:-685px;
    left:505px;
    background-size:90%;
    margin-right:20px;
    margin-bottom:15px;
    background-repeat: no-repeat;
}
.start-3{
    background-image: url(donghua/start-3.jpg);
    width:320px;
    height:320px;
    position: relative;
    top:-1020px;
    left:840px;
    background-size:90%;
    margin-right:20px;
    margin-bottom:15px;
    background-repeat: no-repeat;
}
.start-4{
    background-image: url(donghua/start-4.jpg);
    width:320px;
    height:320px;
    position: relative;
    top:-1355px;
    left:1175px;
    background-size:90%;
    margin-right:20px;
    margin-bottom:15px;
    background-repeat: no-repeat;
}
.start-5{
    background-image: url(donghua/start-5.jpg);
    width:320px;
    height:320px;
    position: relative;
    top:-1340px;
    left:170px;
    background-size:90%;
    margin-right:20px;
    margin-bottom:15px;
    background-repeat: no-repeat;
}
.start-6{
    background-image: url(donghua/start-6.jpg);
    width:320px;
    height:320px;
    position: relative;
    top:-1675px;
    left:505px;
    background-size:90%;
    margin-right:20px;
    margin-bottom:15px;
    background-repeat: no-repeat;
}
.start-7{
    background-image: url(donghua/start-7.jpg);
    width:320px;
    height:320px;
    position: relative;
    top:-2010px;
    left:840px;
    background-size:90%;
    margin-right:20px;
    margin-bottom:15px;
    background-repeat: no-repeat;
}
.start-8{
    background-image: url(donghua/start-8.jpg);
    width:320px;
    height:320px;
    position: relative;
    top:-2345px;
    left:1175px;
    background-size:90%;
    margin-right:20px;
    margin-bottom:15px;
    background-repeat: no-repeat;
}
.Discover{
    width:400px;
    height:100px;
    color: #2d2d2d;
    font-size:32px;
    font-family: "National",helvetica,arial,verdana,tahoma,sans-serif;
    margin-bottom:9px;
    line-height: 28px;
    position: relative;
    top:-2380px;
    left:635px;
}
.must .must,a{
    color: #0093de;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    text-align: center;
}
.do{
    position: relative;
    top:-2435px;
    left:660px;
    font-size:90%;
}
.line-4{
    border-right:1px solid rgba(107, 102, 102, 0.966);
    width:1px;
    height:15px;
    position: relative;
    top:-2450px;
    left:808px;
}
.toptrips{
    position: relative;
    top:-2468px;
    left:816px;
    font-size:90%;
}
.line-5{
    border-right:1px solid rgba(107, 102, 102, 0.966);
    width:1px;
    height:15px;
    position:relative;
    top:-2484px;
    left:885px;
}
.food{
    position:relative;
    top:-2501px;
    left:895px;
    font-size:90%;
}
.qiehuan , ul li{
  display: inline-block;
}
.ren{
  position:relative;
  top:-2500px;
  left:120px;
}
.FACTS{
  width:470px;
  height:100px;
  background-color: rgba(23, 23,23, 0.89);
  color:#ffffff;
  font-size:200%;
  padding:5px;
  padding-left:10px;
  display:inline-block;
  font-family: "Pakati",helvetica,arial,verdana,tahoma,sans-serif;
  position: relative;
  top:-3225px;
  left:260px;
}
.find{
  display:inline-block;
  height:36px;
  width:122px;
  background-color:#2db6e8;
  color:#ffffff;
  border-color: #2db6e8;
  position: relative;
  top:-3170px;
  left:-180px;
  border:none;
}
.find:hover{
  display:inline-block;
  height:36px;
  width:122px;
  background-color:#2db6e8;
  color:#ffffff;
  border-color: #2db6e8;
  animation: a 2s linear forwards;
  border:none;
}

@keyframes a{
  from{background-color: #2db6e8;}
  to{background-color:blue;}
}
.find-2{
    display:inline-block;
    height:36px;
    width:122px;
    background-color:#2db6e8;
    color:#000000;
    position: relative;
    top:-3200px;
    left:-250px;
    border:none;
  }
  .find-2:hover{
    display:inline-block;
    height:36px;
    width:122px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    background-color:#2db6e8;
    color:#000000;
    animation: a-2 2s linear forwards;
    border:none;
  }
  
  @keyframes a-2{
    from{background-color: #2db6e8;}
    to{background-color:blue;}
  }
  .line-6{
      width:1720px;
      border-bottom:1px solid rgba(107, 102, 102, 0.295);
      position:relative;
      top:-3210px;

  }
  .wake{
      width:400px;
      height:250px;
      color:#2d2d2d;
      font-size:200%;
      position:relative;
      top:-3160px;
      left:600px;
     }
  .our{ 
     width:1000px;
     height:250px;
     color:#2d2d2d;
     font-size:100%;
     position:relative;
     top:-3350px;
     left:492px;
    }
.FIND-2 .find-3 a{
    text-decoration: none;
    color: #0093de;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    position: relative;
    top:-3540px;
    left:590px;
}
.FIND-2 .find-3 a:hover{
    color: #0093de;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    position: relative;
    top:-3540px;
    left:590px;
    text-decoration: underline;
}
.line-7{
    color:rgba(23, 23,23, 0.89);
    position:relative;
    top:-3562px;
    left:733px;
}
.ditu{
    background-image: url(./index/DITU.jpg);
    width:1920px;
    height:630px;
    background-size:85.42%;
    background-repeat: no-repeat;
    position:relative;
    top:-3530px;
}
.planning{
    width:1000px;
    height:250px;
    color:#2d2d2d;
    font-size:200%;
    position:relative;
    top:-3555px;
    left:450px;
    right:200px;
}
.list ul li a:hover{
    display:inline-block;
    padding:0px 0px 14px 0px;
    color:#ffffff;
    font-size:14px;
    background-color: #2db6e8;
    text-decoration-color: #ffffff;
}
.icon{
    height: 19vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    max-width: 80px;
    width: 19vw;
    fill: currentColor;
    display: block;
    position: relative;
    top:-3740px;
    left:-510px;
}
.p p{
  color:rgba(116, 112, 112, 0.952);
  position:relative;
  top:-3760px;
  left:205px;
}
a{
    color:#0093de;
}
a:hover{
    color:#086796;
}
a h3{
    color:#2d2d2d;
    position:relative;
    top:-3750px;
    left:-511px;
}
#icon02 a{
    height: 19vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    max-width: 80px;
    width: 19vw;
    fill: currentColor;
    display: block;
    position: relative;
    top:-3971.5px;
    left:-185px;
}
#icon02 a h3{
    color:#2d2d2d;
    position:relative;
    top:-10px;
    left:-23px;
    font-size:18px;
    width:135px;
}
.a a{
  font-size:17px;
  position:relative;
  top:-3770px;
  left:235px;
}
.a a:hover{
  text-decoration: underline;
}
#icon02 p{
  color:rgba(116, 112, 112, 0.952);
  position:relative;
  top:-3924px;
  left:538px;
}
#icon02 .a a{
    font-size:18px;
    color:#0093de;
    position:relative;
    top:-3930px;
}
#icon02 .a a:hover{
    text-decoration: underline;
}
.disange .b{
    height: 19vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    max-width: 80px;
    width: 19vw;
    fill: currentColor;
    display: block;
    position: relative;
    top:-4245px;
    left:124.5px;
}
.b{
    color:#0093de;
}
.b:hover{
    color:#086796;
}
.disange a h3{
    color:#2d2d2d;
    position:relative;
    top:-4253px;
    left:128px;
}
.disange p{
    color:rgba(116, 112, 112, 0.952);
    position:relative;
    top:-4260px;
    left:849px;
}
.disange .a-2{
    font-size:18px;
    color:#0093de;
    position:relative;
    top:-4270px;
    left:869px;
}
.disige .c{
    height: 19vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    max-width: 80px;
    width: 19vw;
    fill: currentColor;
    display: block;
    position: relative;
    top:-4490px;
    left:420px;
}
.c{
    color:#0093de;
}
.c:hover{
    color:#086796;
}
.disige a h3{
    color:#2d2d2d;
    position:relative;
    top:-4499px;
    left:420px;
}
.disige p{
    color:rgba(116, 112, 112, 0.952);
    position:relative;
    top:-4507px;
    left:1130px;
}
.disige .a-3{
    font-size:18px;
    color:#0093de;
    position:relative;
    top:-4517px;
    left:1160px;
}
.activity{
    width:360px;
    height:63px;
    background-color: rgba(0, 0, 0, 0.966);
    position:relative;
    top:-4360px;
    left:590px;
    color:#ffffff;
}
.activity p{
    position:relative;
    top:20px;
    left:100px;
    padding:0px;
    margin:0px;
    font-size:15px;
}
.activity-2 .d{
    height: 19vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 16px;
    max-width: 16px;
    width: 9vw;
    fill: currentColor;
    display: block;
    position:relative;
    top:-4400px;
    left:-285px;
}

.activity-2 .d{
    color:#ffffff;
}
.activity-3{
    width:358px;
    height:200px;
    background-color: #eeeced;
    border:1px solid#dedede;
    position:relative;
    top:-4376px;
    left:590px;
}
.activity-3 .input1{
    width:260px;
    height:19px;
    border:1px soild #dedede;
    border-top-right-radius: 1px;
    position:relative;
    top:20px;
    left:45px;
}
.activity-3 .input2{
    width:260px;
    height:19px;
    border:1px soild #dedede;
    border-top-right-radius: 1px;
    position:relative;
    top:40px;
    left:45px;
}
.activity-3 .input3{
    width:260px;
    height:19px;
    border:1px soild #dedede;
    border-top-right-radius: 1px;
    position:relative;
    top:60px;
    left:45px;
}
.activity-3 .button{
    display:inline-block;
    height:36px;
    width:122px;
    background-color:#2db6e8;
    color:#ffffff;
    border-color: #2db6e8;
    border:none;
    position:relative;
    top:75px;
    left:105px;
}
.activity-3 .button:hover{
    display:inline-block;
    height:36px;
    width:122px;
    background-color:#2db6e8;
    color:#ffffff;
    border-color: #2db6e8;
    animation: a 2s linear forwards;
    border:none;
}
.share h3{
    position: relative;
    top:-4360px;
    left:700px;
    color:rgba(15, 14, 14, 0.76);
    font-size:15px;
}
.e-2{
  height:36px;
  width:70px;
  background-color:rgb(21, 21, 63);
  position:relative;
  top:-4355px;
  left:650px;
}
.e-3{
  height: 21px;
  width: 21px;
  fill: currentColor;
  display: block;
  color:#ffffff;
  position:relative;
  top:15px;
  left:30px;
}
.e .a:hover{
  background-color:rgb(7, 7, 20);
}
.f-2{
  height:36px;
  width:70px;
  background-color:rgb(0, 172, 237);
  position:relative;
  top:-4391px;
  left:730px;
}
.f-3{
  height: 21px;
  width: 21px;
  fill: currentColor;
  display: block;
  color:#ffffff;
  position:relative;
  top:8px;
  left:23px;
}
.f a:hover{
  background-color: #0093de;
}
.g-2{
  height:36px;
  width:70px;
  background-color:#ffc70e;
  position:relative;
  top:-4427px;
  left:810px;
}
.g-3{
  height: 21px;
  width: 21px;
  fill: currentColor;
  display: block;
  color:#ffffff;
  position:relative;
  top:8px;
  left:23px;
}
.you{
  width:1920px;
  height:49px;
  background-color:rgb(68,68,68);
  position:relative;
  top:-4400px;
}
.you-2{
  border:1px solid rgba(138, 134, 134, 0.13);
  font-size:10px;
  width:90px;
  height:20px;
  color:#ffffff;
  background-color:rgba(134, 134, 134, 0.13);
  font-size:12px;
  position:relative;
  top:13px;
  left:290px;
}
.you a{
    font-size:13px;
    position:relative;
    top:-10px;
    left:400px;
    color:rgb(0, 172, 237);
}
.you a:hover{
    color:#0093de;
    text-decoration: underline;
}
.lastborder{
    width:1920px;
    height:350px;
    background-color:#171717;
    position:relative;
    top:-4420px;
}
.lie-1 ul li{
    display:block;
    position:relative;
    top:25px;
    left:250px;
    padding:0;
}
.lie-1 .t2-1,.t3-1,.t4-1,.t5-1{
    fill: currentColor;
    display: block;
    height: 14px;
    width: 14px;
    color:#cacaca;
    margin:0;
    width:30px;
    padding:-6px;
    position: relative;
    top:18px;
    left:-5px;
}
.lie-1 .t1,.t2 a ,.t3 a  ,.t4 a,.t5 a{
    color:white;
    position: relative;
    left:30px;
    padding:-2px;
    font-size:12px;
}
.lie-1 .t1{
    font-size:18px;
    position:relative;
    left:250px;
    font-family: "National",helvetica,arial,verdana,tahoma,sans-serif;
}
.lie-1 a:hover{
    text-decoration: underline;
}
.lie-2 ul li{
    display:block;
}
.lie-2 .t2,.t3,.t4{
    position:relative;
    top:-153px;
    left:390px;
    font-size:12px;
    padding:7px;
}
.lie-2 .t1{
    font-family: "National",helvetica,arial,verdana,tahoma,sans-serif;
    font-size:18px;
    position:relative;
    left:400px;
    top:-137px;
}
.lie-2 a:hover{
    text-decoration: underline;
}
.lie-3{
    display:block;
    position:relative;
    top:-150px;
    left:60px;
    width:220px;
}
.lie-3 .t1{
    font-family: "National",helvetica,arial,verdana,tahoma,sans-serif;
    font-size:18px;
    position:relative;
    left:535px;
    top:-140px;
}
.lie-3 .t2{
    position:relative;
    left:413px;
    top:-108px;
    padding-bottom:15px;

}

.lie-3 .t3, .lie-3 .t4{
    position:relative;
    left:520px;
    top:-137px;
    padding-bottom:5px;
}
.lie-3 .t5{
    position:relative;
    top:-135px;
    left:527px;
    padding:0;
    padding-bottom:5px;
}
.lie-3 .t6 a{
    color:white;
    position: relative;
    left:337px;
    top:-75px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-3 .t7 a{
    color:white;
    position: relative;
    left:337px;
    top:-98px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-3 .t8 a{
    color:white;
    position: relative;
    left:337px;
    top:-120px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-3 a:hover{
    text-decoration: underline;
}
.lie-4 ul li{
    display: block;
    position:relative;
    top:-600px;
    left:763px;
}
.lie-4 a{
    color:white;
}
.lie-4 a:hover{
    text-decoration:underline;
}
.lie-4 .t1{
    font-family: "National",helvetica,arial,verdana,tahoma,sans-serif;
    font-size:18px;
    position: relative;
    top:-587px;
    left:800px;
}
.lie-4 .t2 a{
    color:white;
    position: relative;
    left:38px;
    top:0px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-4 .t3 a{
    color:white;
    position: relative;
    left:55px;
    top:-25px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-4 .t4 a{
    color:white;
    position: relative;
    left:55px;
    top:-30px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-4 .t5 a{
    color:white;
    position: relative;
    left:37px;
    top:-30px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-4 .t6 a{
    color:white;
    position: relative;
    left:37px;
    top:-50px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-4 .t7 a{
    color:white;
    position: relative;
    left:37px;
    top:-70px;
    font-size:12px;
    padding:0;
    margin:0;
}
.lie-4 .t8 a{
    color:white;
    position: relative;
    left:37px;
    top:-90px;
    font-size:12px;
    padding:0;
    margin:0;
}
.logo-2{
    background-image:url(./index/logo-2.svg);
    width:260px;
    height:55px;
    position:relative;
    top:-4750px;
    left:1060px;
    background-repeat: no-repeat;
}
.zuihoule{
    position:relative;
    top:-4550px;
    left:283px;
    color:white;
    font-size:12px;
    padding-right:20px;
}
.zuihoule a{
    color:white;
    text-decoration: underline;
}
.zuihoule a:hover{
    color:#0093de;
    text-decoration: underline;
}
.duihuakuang{
    width:280px;
    height:540px;
    background-color:#2d2d2d;
    position:relative;
    top:-145px;
    left:452px;
    z-index: 1;
    margin-top:5px;
    background-image: url(./donghua/map.jpg);
    background-repeat:no-repeat;
    background-size:78%;
    background-position: center;
    background-position-y: 20px;
    display:none;
}
.dui-2{
    background-image: url(./donghua/secenry.jpg);
    background-size: 78%;
    width:280px;
    height:300px;
    background-repeat: no-repeat;    
    background-position: center;
    background-position-y: 150px;
}
.dui-3{
    background-image: url(./donghua/national.jpg);
    background-size: 78%;
    width:280px;
    height:300px;
    background-repeat: no-repeat;    
    background-position: center;
    background-position-y:15px;
    position:relative;
    top:-35px;
}
.map-word{
    font-size: 0.5em;
    background-color: rgba(0, 0, 0, 0.842);
    bottom: 0;
    color: #55beff;
    left: 0;
    padding: 5px 10px;
    right: 0;
    width:200px;
    margin-left:30px;
    height:20px;
    position: relative;
    top:117px;
}
.Scenery{
    font-size: 0.5em;
    background-color: rgba(0, 0, 0, 0.842);
    bottom: 0;
    color: #55beff;
    left: 0;
    padding: 5px 10px;
    right: 0;
    width:200px;
    margin-left:30px;
    height:20px;
    position: relative;
    top:-52px;
}
.National{
    font-size: 0.5em;
    background-color: rgba(0, 0, 0, 0.842);
    bottom: 0;
    color: #55beff;
    left: 0;
    padding: 5px 10px;
    right: 0;
    width:200px;
    margin-left:30px;
    height:20px;
    position: relative;
    top:-222px;
    display: block;
}
a .duihuakuang{
    text-align: left;
}
a .National{
    width:200px;
}
.heidi{
    background-color:rgba(0, 0, 0, 0.842);
    width:289px;
    height:288px;
    position: absolute;
    z-index: 1;
    top:866px;
    left:171px;
}
.bianhuan{
    position: absolute;
    left:160px;
    width:300px;
    top:890px;
    z-index: 1;
}
.bianhuan p{
    text-align: left;
    position: relative;
    width:350px;
    top:130px;
    left:13px;
}
a .bianhuan{
    color:#ffffff;
}
}